body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f4f6f8;
    overflow-x: hidden;
    overscroll-behavior: none; /* Отключает "оттягивание" */
}

.appBar {
    text-decoration: none;
    user-select: none;
    color: black;
}

.signup {
    text-decoration: none;
    color: rgb(40, 79, 151);
    
    padding: 5px 10px;
    
    

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    flex-grow: 1;
  }

.profTesth1 {
    background-image:url("/src/media/proftest/compback.webp");
}